/* Portfolio.css */

.projects {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 10%;
  justify-content: center;
}

.project {
  margin: 20px;
  text-align: center;
}

.project img {
  width: 500px;
  height: 400px;
  object-fit: cover;
}

.project-title {
  margin-top: 10px;
  font-weight: bold;
}

.project-links {
  margin-top: 10px;
}

.project-links a {
  margin-right: 10px;
  color: #333;
  text-decoration: none;
}

.project-links a:hover {
  text-decoration: underline;
}
