/* Resume.css */

#resume {
    margin-bottom: 30px;
    color: #fff;
    font-family: 'CustomFontSBI';
  }
  
  #resume h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  #resume a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  #resume a:hover {
    background-color: #0056b3;
  }
  
  #resume ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  #resume li {
    margin-bottom: 5px;
  }
  @font-face {
    font-family: 'CustomFontSBI';
    src: url('../../public/Titillium_Web/TitilliumWeb-SemiBoldItalic.ttf') format('truetype');
   
    
    /* Add additional src lines for other font file formats if available */
    /* src: url('../fonts/CustomFont-Regular.woff') format('woff'); */
    /* src: url('../fonts/CustomFont-Regular.woff2') format('woff2'); */
    /* Add more font-face rules for different font weights and styles if needed */
  }