/* styles.css */

/* Define common styles for elements */
body {
    font-family: 'Arial', sans-serif;
    background-color: #042b54;
  }
  
  h1, h2 {
    color: #fff;
    font-size: 50px;
  }
  
  p {
    color: #fff;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Define common styles for form elements */
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #555;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Define common styles for error messages */
  .error {
    color: #dc3545;
    font-size: 12px;
    margin-top: 5px;
  }
  
  /* Additional styles specific to each component */
  /* Add component-specific styles here */
  @font-face {
    font-family: 'CustomFont';
    src: url('../../public/Titillium_Web/TitilliumWeb-Bold.ttf') format('truetype');
   
    
    /* Add additional src lines for other font file formats if available */
    /* src: url('../fonts/CustomFont-Regular.woff') format('woff'); */
    /* src: url('../fonts/CustomFont-Regular.woff2') format('woff2'); */
    /* Add more font-face rules for different font weights and styles if needed */
  }
  
  body {
    font-family: 'CustomFont', sans-serif;
  }
  